<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:inline="none">
        layui.use('table', function () {
            var element = layui.element;
            var table = layui.table;
            //第一个实例
            table.render({
                elem: '#demo'
                , height: 500
                , width: 1050
                , page: true //开启分页
                , url: 'getallorder' //数据接口
                , cols: [[ //表头
                     { field: 'id', title: 'ID', width: 200, sort: true, fixed: 'left' }
                    , { field: 'recordid', title: '记录id', width: 400 ,sort: true,align:'center'}
                    , { field: 'price', title: '订单金额', width: 400,sort: true,align:'center' }
                ]]
            });
        });
    </script>
</head>

<body>

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md1 " style="text-align: center;" >
                <br>
            </div>
            <div class="layui-col-md11" style="text-align: center;">
                <br>
                
                <table id="demo" lay-filter="test"></table>
            </div>
        </div>
    
       
</body>

</html>