<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/jquery-3.5.1.js}"></script>
</head>

<body>
    <form class="layui-form" action="/Customer/getprice" id="form">
        <input name="id" th:value="${customer?.id}" hidden>
        <div class="layui-form-item">
            <label class="layui-form-label">房间类型</label>
            <div class="layui-input-block">
                <select name="type" lay-verify="required">
                    <option value=""></option>
                    <option value="单人房">单人房</option>
                    <option value="双人房">双人房</option>
                    <option value="三人房">三人房</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                <input type="text" name ="stime" class="layui-input" id="test1">
              </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                <input type="text" name ="etime" class="layui-input" id="test2">
              </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
     


    </form>

    <script>
        //Demo
        layui.use(['form', 'laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            laydate.render({
                elem: '#test1'//指定元素
            });
            laydate.render({
                elem: '#test2'//指定元素
            });
            //监听提交
            form.on('submit(formDemo)', function (data) {
                return true;
            });
        });
    </script>
</body>

</html>