<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
  <script th:src="@{/layui/layui.js}"></script>
  <script th:src="@{/jquery-3.5.1.js}"></script>
</head>

<body style="background-color: cornsilk;">
  <br>
  <a th:href="@{/}" style="margin-left: 1.5CM; margin-left: 95%;" s>[[#{login.login}]]</a>
  <br><br><br><br><br><br><br><br><br><br>
  <h1 style="text-align: center;">[[#{registration.regist}]]</h1>
  <br><br><br><br>
  <form class="layui-form" action="/User/regist" style="margin-left: 35%;">

     <div class="layui-form-item">
      <label class="layui-form-label" th:text="#{registration.username}"></label>
      <div class="layui-input-block">
        <input type="text" name="username" lay-verify="required" autocomplete="off" class="layui-input"
          style="width: 30%;">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" th:text="#{registration.password}"></label>
      <div class="layui-input-block">
        <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input"
          style="width: 30%;" id="1">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" th:text="#{registration.repassword}"></label>
      <div class="layui-input-block">
        <input type="password" name="repassword" lay-verify="required" autocomplete="off" class="layui-input"
          style="width: 30%;" id="2">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <input type="hidden" name="role" value="common" lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo">[[#{registration.regist}]]</button>
        <button type="reset" class="layui-btn layui-btn-primary"
          style="margin-left: 12%;">[[#{registration.reset}]]</button>
      </div>
    </div>
  </form>
  <br><br><br><br><br><br>
  <a th:href="@{?(l='zh_CN')}" style="margin-left: 45%;">中文</a>
  <a th:href="@{?(l='en_US')}" style="margin-left: 1.5CM;">English</a>
</body>
<script>
  //Demo
  layui.use('form', function () {
    var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function (data) {
      if($("#1").val()!=$("#2").val()){
         layer.msg('[[#{registration.confirm}]]');
         return false;
         }
      else return true;
    });
  });
</script>

</html>